// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: effra, sans-serif;
$font-display: objektiv-mk1, sans-serif;

// RESPONSIVE BREAKPOINTS
$breakpoint-xl: 75em; // 1200px
$breakpoint-l: 62.5em; // 1000px
$breakpoint-m: 50em; // 800px
$breakpoint-s: 37.5em; // 600px
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $breakpoint-xl) {
    font-size: 50%;
  }
}

body::-webkit-scrollbar {
  inline-size: 8px;
  background: $color-secondary;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background: $color-secondary;
  border: 1px solid hsl(0, 0%, 8%);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $color-primary;
  border: 1px solid $color-secondary;
}

body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background: $color-secondary;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: $breakpoint-l) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $breakpoint-m) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}
